.features-list {
  position: relative;
  width: 259px;
  margin: 0 auto;
  margin-top: 87px;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 285px;

  &::before {
    content: "";
    position: absolute;

    top: 380px;
    left: 40px;

    width: 157px;
    height: 277px;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.features-list__item {
  h3 {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    color: #283645;
  }
}

@media (min-width: $tablet-width) {
  .features-list {
    position: relative;
    min-width: 306px;
    margin: 0;
    margin-left: auto;
    text-align: left;

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: -280px;

      width: 268px;
      height: 547px;

      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    width: 940px;
    margin: 0 auto;
    margin-top: 400px;

    display: flex;
    justify-content: space-between;

    &::before {
      background-image: none;
    }
  }

  .features-list__item {
    position: relative;
    width: 236px;

    &--item-1::before {
      content: "";
      position: absolute;

      top: -350px;
      left: -20px;

      width: 300px;
      height: 382px;

      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &--item-2::before {
      content: "";
      position: absolute;

      top: -350px;
      left: -20px;

      width: 300px;
      height: 382px;

      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &--item-3::before {
      content: "";
      position: absolute;

      top: -350px;
      left: -20px;

      width: 300px;
      height: 382px;

      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }
}
