.os-link {
  width: 205px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 36px;
  margin-top: 51px;
  padding: 0;
  list-style: none;

  margin-bottom: 21px;
}
