/*index page*/

.page-main {
  min-width: 320px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-main {
    min-width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    min-width: 940px;
  }
}
