/*Временно*/

.page-footer {
  background-color: #ffffff;
  margin: 0;
  padding: 0;

  &__logo {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
  }

  p {
    width: 128px;
    height: 34px;
    margin: 50px auto;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #283645;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    path {
      fill: #d4345f;
    }
  }
}
