.page-footer {
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  p {
    width: 128px;
    height: 34px;
    margin: 50px auto;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #283645;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  padding: 40px 0;
}

.page-footer__copyright {
  path {
    fill: #d4345f;
  }
}

@media (min-width: $mobile-width) {
  .page-footer {
    &--index {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
