.social-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.social-list__item {
  display: block;
  width: 46px;
  height: 46px;
  border: 3px solid lightgray; /*Цвет поменять*/
  border-radius: 50%;
  text-align: center;
  padding: 11px 0;

  path {
    fill: #d4345f;
  }
}
